.activity-intro{
    text-align: center;

}

.acti-title{
    color: #2C2C2C;
}

.diving-container{
    background-color: white;
}


.language-btn {
    border-radius: 10px;
    background-color: #FF6F59;
    margin-top: 15px;
    
    margin-left: 1200px;
}